name: Release Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    
    - name: Build
      run: swift build -c release

    - name: Archive Release
      run: |
        cd .build/release
        tar -czf spmhoster-release.tar.gz spmhoster

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: build-${{ github.run_number }}
        files: .build/release/spmhoster-release.tar.gz
